#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig "$baseDir/../../../configs/module-defaults.config"
includeConfig "$baseDir/../../../configs/module-test.config"

params.gtf = "$baseDir/../../../test_data/cellranger/genome/chr1.gtf"
params.bam = "$baseDir/../../../test_data/velocyto/cellsorted_genomebam.bam"
params.barcodes = "$baseDir/../../../test_data/velocyto/barcodes.tsv.gz"