#!/usr/bin/env nextflow

includeConfig "$baseDir/../../../configs/module-defaults.config"

params.outdir = './results'
docker.enabled = true

process{
    withName: r_analysis {
        container = 'alexthiery/otic-reprogramming-r_analysis:latest'
    }
}

params {
    // General
    outdir = './results'

    modules {
        r_analysis {
            script =  "$baseDir/test.R"
        }
    }
}