#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig "$baseDir/../../../configs/module-defaults.config"
includeConfig "$baseDir/../../../configs/module-test.config"

process{
    withName: r_analysis {
        container = 'alexthiery/otic-reprogramming-r_analysis:latest'
    }
}