#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig "$baseDir/../../../configs/module-defaults.config"
includeConfig "$baseDir/../../../configs/module-test.config"

process{
    withName: r_analysis {
        container = 'alexthiery/otic-reprogramming-r_analysis:latest'
    }
}

params {
    // General
    outdir = './output'

    modules {
        test1 {
            publish_dir     = "test1"
            publish_results = "all"
            script =  "$baseDir/bin/test1.R"
        }
        test2 {
            publish_dir     = "test2"
            publish_results = "all"
            script =  "$baseDir/bin/test2.R"
        }
        test3 {
            publish_dir     = "test3"
            publish_results = "all"
            script =  "$baseDir/bin/test3.R"
        }
        test4 {
            publish_dir     = "test4"
            publish_results = "all"
            script =  "$baseDir/bin/test4.R"
        }
    }
}