/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        cellranger_count {
            publish_dir     = "cellranger_count"
            publish_results = "all"
        }
        cellranger_filter_gtf {
            publish_dir     = "cellranger_filter_gtf"
            publish_results = "all"
        }
        cellranger_mkref {
            publish_dir     = "cellranger_mkref"
            publish_results = "all"
        }
    }
}
